;User defined touch control placement. This file contains only positions that have
; been modified by the user and is loaded on top of the defaults file.
PositionAndScale 565, 182, SCALE_SMALL ; WIDGET_POSITION_ENTER_CAR
PositionAndScale 564, 279, SCALE_LARGEST ; WIDGET_POSITION_TARGETING_AND_ATTACK
PositionAndScale 448, 202, SCALE_LARGER ; WIDGET_POSITION_VC_SHOOT
PositionAndScale 615, 112, SCALE_SMALL ; WIDGET_POSITION_SWAP_WEAPONS
PositionAndScale 30, 178, SCALE_SMALLER ; WIDGET_POSITION_MISSION_START_AND_MISSION_CANCEL
PositionAndScale 605, 365, SCALE_LARGEST ; WIDGET_POSITION_ACCELERATE
PositionAndScale 540, 365, SCALE_LARGEST ; WIDGET_POSITION_BRAKE
PositionAndScale 598, 273, SCALE_LARGER ; WIDGET_POSITION_HANDBRAKE_AND_AIR_SHOOT
PositionAndScale 41, 295, SCALE_MEDIUM ; WIDGET_POSITION_VEHICLE_STEER_LEFT
PositionAndScale 122, 295, SCALE_MEDIUM ; WIDGET_POSITION_VEHICLE_STEER_RIGHT
PositionAndScale 210, 314, SCALE_SMALL ; WIDGET_POSITION_HORN
PositionAndScale 210, 385, SCALE_SMALL ; WIDGET_POSITION_CAM_TOGGLE
PositionAndScale 41, 228, SCALE_SMALLER ; WIDGET_POSITION_VEHICLE_SHOOT_LEFT
PositionAndScale 123, 229, SCALE_SMALLER ; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT
PositionAndScale 500, 290, SCALE_SMALL ; WIDGET_POSITION_CAR_SHOOT
PositionAndScale 590, 379, SCALE_LARGE ; WIDGET_POSITION_BUTTON_SPRINT_AND_SWIM
PositionAndScale 615, 182, SCALE_SMALL ; WIDGET_POSITION_PHONE
PositionAndScale 260, 314, SCALE_SMALL ; WIDGET_POSITION_HYDRAULICS
